a{
    color: #B88846 !important;
}
a:hover{
    color: #594122 !important;
}


.container{

}
.header-logo{
    font-size: 25px !important;
}

.carousel-control.left, .carousel-control.right {
    background-image:none !important;
    filter:none !important;
}

:root{
    --main-color: #ffc193;
    --main-color-dark: #936e54;
    --ray-color: #FFD6BB;
    --spark-color: #de3a3a;
    --back-color: #4e412e;
}
#lastray{
    margin: auto;
    border-radius: 100%;
    border: 0px solid;
    border-color: var(--ray-color);
    opacity: 1;
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
#loading-page{
    z-index: 1000;
    background: var(--back-color);
    border-radius: 100%;
    top:50%;
    left: 50vw;
    transform: translate(-50%,-50%);
    width: 400vh;
    height: 400vh;
    position: fixed;
    overflow: hidden;
    transition-duration: 1s;
}
#loader{
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 200px;
    position: absolute;
    max-height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.element{
    margin: auto;
    position: absolute;
}
.sphere{
    background: radial-gradient(circle, var(--main-color), var(--main-color-dark));
    width: 50px;
    height: 50px;
    border-radius: 100%;
    animation: pump 4s infinite ease-in-out;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 15px 0px rgba(200, 230, 255, 0.5);
}
.ray{
    margin: auto;
    border-radius: 100%;
    border: 5px solid;
    border-color: var(--ray-color);
    opacity: 1;
    width: 10px;
    height: 10px;
    animation: ray 4s infinite ease-out;
    animation-delay: 2.5s;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 15px 0px rgba(255, 230, 200, 0.5);
}
.spark{
    width: 200px;
    height: 200px;
}
.particles{
    transform: translate(-50%, -50%);
}
.particle{
    background-color: var(--spark-color);
    width:5px;
    height:5px;
    border-radius: 100%;
    opacity: 0;
    animation: particle 1s infinite ease-in;
    left: 0%;
    top: 0%;
}
.spark1{transform: rotate(20deg);}
.spark2{transform: rotate(40deg);}
.spark3{transform: rotate(66deg);}
.spark4{transform: rotate(172deg);}
.spark5{transform: rotate(110deg);}
.spark6{transform: rotate(130deg);}
.spark7{transform: rotate(-100deg);}
.spark8{transform: rotate(-50deg);}
.spark9{transform: rotate(-80deg);}
.spark10{transform: rotate(-173deg);}
.spark11{transform: rotate(-7deg);}
.spark12{transform: rotate(-133deg);}

.particle1{animation-delay: .5s;}
.particle2{animation-delay: 0s;}
.particle3{animation-delay: 2.2s;}
.particle4{animation-delay: .2s;}
.particle5{animation-delay: 2s;}
.particle6{animation-delay: 1.2s;}
.particle7{animation-delay: 2.5s;}
.particle8{animation-delay: 1.5s;}
.particle9{animation-delay: 1s;}
.particle10{animation-delay: 2.5s;}
.particle11{animation-delay: .7s;}
.particle12{animation-delay: 1.7s;}

.loaded{
    width: 0px !important;
    height: 0px !important;
    transition: 1.2s ease-out;
}
.opzero{
    opacity: 0;
    transition: 1s ease-out;
}
.finalray{
    animation: ray 2s ease-out;
    animation-delay: .3s;
    border: 1px solid;
}
/*ANIMATIONS*/
@keyframes pump {
    0% {width: 50px; height: 50px;}
    83% {width: 88px; height: 88px;}
    85% {width: 90px; height: 90px;}
    100% {width: 50px; height: 50px;}
}
@keyframes ray {
    0% {width: 10px; height: 10px; opacity: 1; border-width: 1px;}
    100% {width: 200px; height: 200px; opacity: 0; border-width: 5px;}
}
@keyframes particle {
    0% {left:0%; top:0%; opacity: 0;}
    70% {opacity: 1;}
    100% {left:50%; top:50%; opacity: 1;}
}


html, body {
    overflow-x: hidden;
}

body{
    background-image: url("../Img/Alas'en.jpg");
    background-repeat:   no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: fantasy, sans-serif;
}

@media screen and (max-width: 500px) {
    .colmio{
        flex: 0 0 auto;
        margin: auto;
        width: 100% !important;
    }
    .col-8{
         margin: auto;
         width: 100% !important;
     }

    .imgpg{
        display: flex;
        max-width: 100%;
        height: 100%;
        border: 5px solid #B88846;

        border-bottom: 1px solid #ffffff;
    }
    .infoHead{
        display: flex;
        height: 65px;
        width: 100%;
        font-family: "Times New Roman", sans-serif;
        font-size: 30px;
        text-align: left;
        color: #ffffff;
        background-color: #B88846;
    }
    .info{
        display: flex;
        height: 65px;
        width: 100%;
        border: 12px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
        font-family: "Times New Roman", sans-serif;
        font-size: 30px;
        text-align: left;
        color: #000000;
        cursor: pointer;
    }

    .container-sm{
        min-width: 100% !important;
        padding: 20px 20px;
        background-color: white;
        width: 100%;
        height: auto;
        border-radius: 4px;
        border: 17px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
    }
    .container-xxl{
        padding: 20px 20px;
        background-color: white;
        width: auto;
        height: auto;
        border-radius: 4px;
        border: 17px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
    }
    .PageElement{
        height: 100px;
        border: 20px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
        font-family: "Times New Roman", sans-serif;
        font-size: 20px;
        text-align: left;
        color: #caab86;
        cursor: pointer;
    }
    .PageElement2{
        height: 100px;
        border: 12px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
        font-family: "Times New Roman", sans-serif;
        font-size: 20px;
        text-align: left;
        color: #caab86;
        cursor: pointer;
    }
    .PageElement:hover{
        height: 100px;
        border: 20px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
        font-family: "Times New Roman", sans-serif;
        font-size: 20px;
        text-align: left;
        color: #caab86;
        cursor: pointer;
        background-color: #ebe8eb;
    }
    .PageElement2:hover{
        height: 100px;
        border: 12px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
        font-family: "Times New Roman", sans-serif;
        font-size: 20px;
        text-align: left;
        color: #caab86;
        cursor: pointer;
        background-color: #ebe8eb;
    }
    .PageElement img{
        width: 50px;
        height: 50px;

    }
    .PageElementImg{
        width: 30%;
        float:left
    }

    .colonnaTel{
        flex-direction: column !important;
    }

    .col-6{
        width: 100% !important;
    }

    .row > .colonnaTel{
        flex-direction: column;
    }

    .imgcamp{
        display: block;
        max-width: 100%;
        height: auto;
    }
    .rowmio{
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        margin-top: var(--bs-gutter-y);
    }

}
area:hover{
    background-color: red;
}

@media screen and (max-width: 1000px) and (min-width: 500px){
    #dio{

    }
    .colmio{
        flex: 0 0 auto;
        margin: auto;
    }
    .imgpg{
        display: flex;
        max-width: 100%;
        height: 100%;
        border: 5px solid #B88846;

        border-bottom: 1px solid #ffffff;
    }
    .infoHead{
        display: flex;
        height: 65px;
        width: 100%;
        font-family: "Times New Roman", sans-serif;
        font-size: 30px;
        text-align: left;
        color: #ffffff;
        background-color: #B88846;
    }
    .info{
        display: flex;
        height: 65px;
        width: 100%;
        border: 12px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
        font-family: "Times New Roman", sans-serif;
        font-size: 30px;
        text-align: left;
        color: #000000;
    }
    .container-sm{
        margin:20px;
        padding: 20px 20px;
        background-color: white;
        border-radius: 4px;
        position: relative;
        height: auto;
        width: 90%;
        border: 25px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
    }
    .container-xxl{
        margin:20px;
        padding: 20px 20px;
        background-color: white;
        width: 120%;
        height: auto;
        border-radius: 4px;
        border: 17px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
    }
    .PageElement{
        height: 100px;
        border: 20px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
        font-family: "Times New Roman", sans-serif;
        font-size: 50px;
        text-align: left;
        color: #caab86;
        cursor: pointer;
    }
    .PageElement2{
        height: 100px;
        border: 12px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
        font-family: "Times New Roman", sans-serif;
        font-size: 30px;
        text-align: left;
        color: #caab86;
        cursor: pointer;
    }
    .PageElement:hover{
        height: 100px;
        border: 20px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
        font-family: "Times New Roman", sans-serif;
        font-size: 50px;
        text-align: left;
        color: #caab86;
        cursor: pointer;
        background-color: #ebe8eb;
    }

    .PageElement2:hover{
        height: 100px;
        border: 12px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
        font-family: "Times New Roman", sans-serif;
        font-size: 30px;
        text-align: left;
        color: #caab86;
        cursor: pointer;
        background-color: #ebe8eb;
    }
    .PageElement img{
        width: 50px;
        height: 50px;

    }
    .PageElementImg{
        width: 8%;
        float:left
    }
    .imgcamp{
        display: block;
        max-width: 100%;
        height: auto;
    }
    .col-6mio{
        flex: 0 0 auto;
        width: 50%;

    }
    .rowmio{
        flex-shrink: 0;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        margin-top: var(--bs-gutter-y);
    }
    p{
        font-size: 10px !important;
    }
    .col-8{
        width: 100% !important;
    }
}

@media screen and (min-width: 1001px) {
    .colmio{
        flex: 0 0 auto;
        margin: auto;
        width: 33.333333% !important;
    }
    .imgpg{
        display: flex;
        max-width: 100%;
        height: 100%;
        border: 5px solid #B88846;

        border-bottom: 1px solid #ffffff;
    }
    .infoHead{
        display: flex;
        height: 65px;
        width: 100%;
        font-family: "Times New Roman", sans-serif;
        font-size: 30px;
        text-align: left;
        color: #ffffff;
        background-color: #B88846;
    }
    .info{
        display: flex;
        height: 65px;
        width: 100%;
        border: 12px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
        font-family: "Times New Roman", sans-serif;
        font-size: 30px;
        text-align: left;
        color: #000000;
    }
    .container-sm{
        margin:20px;
        padding: 20px 20px;
        background-color: white;
        border-radius: 4px;
        position: relative;
        height: auto;
        width: 90%;
        border: 25px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
    }
    .container-xxl{
        margin:20px;
        padding: 20px 20px;
        background-color: white;
        width: 120%;
        height: auto;
        border-radius: 4px;
        border: 17px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
    }
    .PageElement{
        height: 100px;
        border: 20px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
        font-family: "Times New Roman", sans-serif;
        font-size: 50px;
        text-align: left;
        color: #caab86;
        cursor: pointer;
    }
    .PageElement2{
        height: 100px;
        border: 12px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
        font-family: "Times New Roman", sans-serif;
        font-size: 30px;
        text-align: left;
        color: #caab86;
        cursor: pointer;
    }
    .PageElement:hover{
        height: 100px;
        border: 20px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
        font-family: "Times New Roman", sans-serif;
        font-size: 50px;
        text-align: left;
        color: #caab86;
        cursor: pointer;
        background-color: #ebe8eb;
    }

    .PageElement2:hover{
        height: 100px;
        border: 12px solid #B88846;
        border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
        font-family: "Times New Roman", sans-serif;
        font-size: 30px;
        text-align: left;
        color: #caab86;
        cursor: pointer;
        background-color: #ebe8eb;
    }
    .PageElement img{
        width: 50px;
        height: 50px;

    }
    .PageElementImg{
        width: 8%;
        float:left
    }
    .imgcamp{
        display: block;
        max-width: 100%;
        height: auto;
    }
    .col-6mio{
        flex: 0 0 auto;
        width: 50%;

    }
    .rowmio{
        flex-shrink: 0;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        margin-top: var(--bs-gutter-y);
    }
    p{
        font-size: 10px !important;
    }

    .dicebody{
        height: 100%;
    }
}

.img_map{
    width: 100%;
}

.continente:hover{
    background-color: red;
    color: red;
}

.imglore{
    display: block;
    max-width: 100%;
    height: auto;
    border: 12px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

.CampagnaElement{
    height: 100px;
    border: 20px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
    font-family: "Times New Roman", sans-serif;
    font-size: 50px;
    text-align: left;
    color: #caab86;
    cursor: pointer;
}

.camptesto{
    border: 5px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

.mycolor{
    filter: invert(81%) sepia(29%) saturate(367%) hue-rotate(351deg) brightness(83%) contrast(89%);
}
.PageList{
    width: 90%;
    text-align: center;

}

p { font-size: 0.5em; }
h4 { margin: 0 0 0.2em 0; }

input {
    padding: 0.3em;
    width: 95%;
    color: #333;
    border-radius: 0.3em;
    border: solid 1px grey;
}

output {
    display: block;
    width: 95%;
    margin: 0.3em 0;
    padding: 0.3em;
    line-height: 1.2em;
    border-radius: 0.3em;
    background: #EEE;
}


button {
    background-color: #444141;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    width: 250px;
}

.us:hover {
    background-image: linear-gradient(90deg, #ef7753 0%, #d09151 50%, #e03636 75%, #efc353 100%);
    animation: slidernbw 5s linear infinite;
    color: #000;
}

.ms:hover {
    background-image: linear-gradient(90deg, #ee00ff 0%, #70e361 50%, #e0b836 75%, #d90e4a 100%);
    animation: slidernbw 5s linear infinite;
    color: #000;
}

@keyframes slidernbw {
    to {
        background-position: 20vw;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#ultracard{
    background-image: url("../Img/Pergamena.png");
}

#eff1{
    color: black;
}

#num1{
    color: black;
}

.card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
}

.card__link:hover::after {
    width: 100%;
}

.card__exit {
    grid-row: 1/2;
    justify-self: end;
}

.card__icon {
    grid-row: 2/3;
    font-size: 30px;
}

.card__title {
    font-size: 20px;
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
    font-family: Quintessential;
}

.card__apply {
    grid-row: 4/5;
    align-self: center;
}

/* CARD BACKGROUNDS */

.card-1 {
    background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
    background: radial-gradient(#8fd37f, #00e724);
}

.card-3 {
    background: radial-gradient(#dc4c4c, #f10000);
}

.card-4 {
    background: radial-gradient(#eeaf7b, #ffc400);
}

.card-5 {
    background: radial-gradient(#f588d8, #c0a3e5);
}

/* RESPONSIVE */

@media (max-width: 1600px) {
    .cards {
        justify-content: center;
    }
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Rubik:400,900);



#card-container{
    z-index: -1;
    width: 700px;
    height: 350px;

}
#card-container2{
    z-index: -1;
    width: 700px;
    height: 350px;

}
#card{
    animation: backAn 60s infinite;
    color:#fff;
    padding:30px;
    width:100%;
    height:100%;
    z-index:1;
    background:url(https://i.pinimg.com/564x/6f/6a/ff/6f6afff8a50ebd0b5588eaa9b88aa1b1.jpg) 100% bottom;
    box-shadow:
            0px 45px 100px rgba(0, 0, 0, .4),
            inset 0 0 0 1000px rgba(243, 205, 31, 0.6);
}

#card .text-block{position:relative;z-index:2;text-shadow: 0px 3px 10px rgba(0, 0, 0, .7)}
#card .text-block h1{font-family: 'Rubik', sans-serif; font-size:3em; margin:0; text-transform:uppercase; font-weight:700;}
#card .text-block h1 small{font-size:.4em;color:#ccc;position:relative;bottom:10px}
#card .text-block h3{margin:0;font-weight:700;}
#card .text-block p{font-weight:300; width:60%}
#card .text-block button{transition: all .35s cubic-bezier(.37,.26,.35,1);border:4px solid #fff; padding:10px; background:transparent;font-family: 'Rubik', sans-serif;text-transform:uppercase; font-weight:700; cursor:pointer;}
#card .text-block button:hover{background: #b5731d
}

#card2{
    animation: backAn 60s infinite;
    color:#fff;
    padding:30px;
    width:100%;
    height:100%;
    position:absolute;
    z-index:1;
    background:url(https://i.pinimg.com/564x/6f/6a/ff/6f6afff8a50ebd0b5588eaa9b88aa1b1.jpg) 100% bottom;
    box-shadow:
            0px 45px 100px rgba(0, 0, 0, .4),
            inset 0 0 0 1000px rgba(243, 205, 31, 0.6);
}

#card2 .text-block{position:relative;z-index:2;text-shadow: 0px 3px 10px rgba(0, 0, 0, .7)}
#card2 .text-block h1{font-family: 'Rubik', sans-serif; font-size:3em; margin:0; text-transform:uppercase; font-weight:700;}
#card2 .text-block h1 small{font-size:.4em;color:#ccc;position:relative;bottom:10px}
#card2 .text-block h3{margin:0;font-weight:700;}
#card2 .text-block p{font-weight:300; width:60%}
#card2 .text-block button{transition: all .35s cubic-bezier(.37,.26,.35,1);border:4px solid #fff; padding:10px; background:transparent;font-family: 'Rubik', sans-serif;text-transform:uppercase; font-weight:700; cursor:pointer;}
#card2 .text-block button:hover{background: #b5731d
}

#card-container .pg{position:absolute;height:450px; width:40%; right:-10px;bottom:0px;z-index:2}
#card-container .pg > img{height:450px;}
#card-container .pg{position:absolute;height:450px; width:40%; right:-10px;bottom:0px;z-index:2}
#card-container .pg > img{height:450px;}

.shine {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: linear-gradient(90deg, rgba(0,0,0,.4) 0%,rgba(0,0,0,.2) 60%);
    z-index: 1;
}
button{color:#fff;}

@keyframes backAn {
    0%   { background-size:100% }
    50%   { background-size:250% }
    100%   { background-size:100% }
}



/* ================ The Timeline ================ */

h6{
    font-family: Quintessential, serif;
    text-align: center;
    position: relative;
    display: inline;
    background: rgb(255, 255, 255);
    padding: 6px 10px;
    border-radius: 5px;
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    font-weight: 600;
    z-index: 11;
}

.timeline {
    z-index: 10;
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80,80,80);
    background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);

    z-index: -1;
}

.era{
    cursor: pointer;
}

.era:hover{
    background-color: #dedede;
}
.timeline li {
    padding: 1em 0;
}

.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
}

.direction-r {
    position: relative;
    width: 300px;
    float: right;
}

.flag-wrapper {
    font-family: Quintessential;
    position: relative;
    display: inline-block;

    text-align: center;
}

.flag {
    position: relative;
    display: inline;
    background: rgb(248,248,248);
    padding: 6px 10px;
    border-radius: 5px;

    font-weight: 600;
    text-align: left;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -36px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255, 176, 80);
    z-index: 10;
}

.direction-r .flag:before {
    left: -36px;
}

.direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
}

.direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: inline;

    line-height: 1em;
    font-size: 0.66666em;
    color: rgb(255, 176, 80);
    vertical-align: middle;
}

.direction-l .time-wrapper {
    float: left;
}

.direction-r .time-wrapper {
    float: right;
}

.time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248,248,248);
}

.desc {
    margin: 1em 0.75em 0 0;
    font-family: Quintessential;
    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;
}

.true-desc {
    z-index: 999;
    text-align: left !important;
    border: solid rgba(89, 89, 89, 0.65);
    border-radius: 10px;
    margin: 1em 0.75em 0 0;
    font-family: Quintessential;
    font-size: 1em;
    font-style: italic;
    line-height: 1.5em;
    background-color: white;
}

.direction-r .desc {
    margin: 1em 0 0 0.75em;
}

.direction-r .true-desc {
    margin: 1em 0 0 0.75em;
}

.flag:hover{
    background-color: rgb(189, 189, 189);
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

    .timeline {
        width: 100%;
        padding: 4em 0 1em 0;
    }

    .timeline li {
        padding: 2em 0;
    }

    .direction-l,
    .direction-r {
        float: none;
        width: 100%;

        text-align: center;
    }

    .flag-wrapper {
        text-align: center;
    }

    .flag {
        background: rgb(255,255,255);
        z-index: 15;
    }

    .direction-l .flag:before,
    .direction-r .flag:before {
        position: absolute;
        top: -30px;
        left: 52%;
        content: ' ';
        display: block;
        width: 12px;
        height: 12px;
        margin-left: -9px;
        background: #fff;
        border-radius: 10px;
        border: 4px solid rgb(255, 176, 80);
        z-index: 10;
    }

    .direction-l .flag:after,
    .direction-r .flag:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: rgb(255,255,255);
        border-width: 8px;
        pointer-events: none;
    }

    .time-wrapper {
        display: block;
        position: relative;
        margin: 4px 0 0 0;
        z-index: 14;
    }

    .direction-l .time-wrapper {
        float: none;
    }

    .direction-r .time-wrapper {
        float: none;
    }

    .desc {
        position: relative;
        margin: 1em 0 0 0;
        padding: 1em;
        background: rgb(245,245,245);
        -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
        -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
        box-shadow: 0 0 1px rgba(0,0,0,0.20);

        z-index: 15;
    }

    .true-desc {
        position: relative;
        margin: 1em 0 0 0;
        padding: 1em;
        background: rgb(245,245,245);
        -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
        -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
        box-shadow: 0 0 1px rgba(0,0,0,0.20);

        z-index: 15;
    }

    .direction-l .desc,
    .direction-r .desc {
        position: relative;
        margin: 1em 1em 0 1em;
        padding: 1em;

        z-index: 15;
    }

    .direction-l .true-desc,
    .direction-r .true-desc {
        text-align: left;
        position: relative;
        margin: 1em 1em 0 1em;
        padding: 1em;

        z-index: 15;
    }

}

@media screen and (min-width: 400px ?? max-width: 660px) {

    .direction-l .desc,
    .direction-r .desc {
        margin: 1em 4em 0 4em;
    }

    .direction-l .true-desc,
    .direction-r .true-desc {
        margin: 1em 4em 0 4em;
    }

}

.testopg{
    font-family: "Gill Sans MT";
    font-size: 20px;

}

input {
    text-align: center;
    padding: 0.3em;
    width: 90%;
    color: #333;
    border-radius: 0.3em;
    border: solid 1px grey;
}

.output {
    display: block;
    width: 90%;
    margin: 0.3em 0;
    padding: 0.3em;
    line-height: 1.2em;
    background: #ffffff;
    border-radius: 4px;
    border: 12px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

.type { vertical-align:super; font-size:60%; color:grey; }
.placeholder { color: #CCC; }
.roll {}
.crit {
    font-weight: bolder;
    color: #006700;
}
.fum {
    font-weight: bolder;
    color: #cc0000;
}
.total { color:black; font-weight:bold; }

.rollbtn {
    width: 40%;
    background: #4e412e;
    border: none;
    padding: 10px 14px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
}
.rollbtn:hover {
    border: 3px solid #fff;
    transform: rotate3d(0, 1, 0.5, 360deg);
    transition: 1.5s;
}

/* default Flyout styles */
[data-flyout],
[data-flyout] * {
    box-sizing: border-box;
}
[data-flyout] {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: -300px;
    color: #000000;
    font-size: 12pt;
    text-align: left;
    opacity: 0;
    z-index: 500;
    pointer-events: none;
    transition: right .2s ease-in-out,
    opacity .2s ease-in-out;
}
[data-flyout] div:after {
    content: '';
    display: block;
    clear: both;
}
[data-flyout] img {
    max-width: 210px;
    width: auto;
    float: left;
}
[data-flyout] h3 {
    color: #111;
    margin: 0 0 5px 0;
    line-height: 1.2;
    font-size: 12pt;
    letter-spacing: -.02em;
}
[data-flyout] p {
    margin: 0;
}
[data-flyout] [data-button] {
    width: auto;
    display: block;
    margin: 15px 0 0 0 !important;
}

/* hide Headline, Image, Article Headline, & Description by default  */
[data-flyout] h2,
[data-flyout] h3,
[data-flyout] img,
[data-flyout] p {
    display: none;
}

/* reveal Image and Article Headline if browser is <300px */
@media (min-width: 300px) {
    [data-flyout] {
        padding-top: 15px;
    }
    [data-flyout] img,
    [data-flyout] h3 {
        display: block;
    }
}

/* reveal Description if browser is <400px */
@media (min-width: 400px) {
    [data-flyout] img {
    }
    [data-flyout] p {
        display: block;
    }
}

/* set max-width on Flyout and reveal Headline if browser is <500px */
@media (min-width: 500px) {
    [data-flyout] {
        max-width: 400px;
    }
    [data-flyout] h2 {
        display: block;
    }
}

/* display Flyout when page is scrolled <90% */
@element html, body and (min-scroll-y: 90%) {
    [data-flyout] {
        right: 0;
        pointer-events: all;
        opacity: 1;
    }
}

.testross{
    padding: 15px 15px 15px 18px;
    background-image: url("../Logos/testoross.png");
    width: 100%;
    height: 100%;
    background-size: cover;
}